{
  "printWidth": 110,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./packages/ui/src/styles/globals.css",
  "overrides": [
    {
      "files": ["apps/web/**/*.{ts,tsx,js,jsx}"],
      "options": { "semi": false, "singleQuote": true }
    }
  ]
}
